{% extends 'base.html.twig' %}

{% block body %}
   <h1>Create Template</h1>

    {{ form_start(new_form) }}
        {{ form_widget(new_form) }}
    {{ form_end(new_form) }}

     <a class="btn btn-info" href="{{ path('crm_invoice_template_list') }}">Back to the list</a>
{% endblock %}
